<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Wenn die angeforderte Datei oder Verzeichnis existiert, überspringe die Weiterleitung
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Leite alles andere an index.html weiter
  RewriteRule ^ index.html [L]
</IfModule>
